@model IEnumerable<Escuela.Model.Profesor>
@{
    Layout="~/Views/Shared/elLayout.cshtml";
}
<h1>Lista de Profesores</h1>
<table class="table table-hover">
<tr>
    <th>
        Nomina 
    </th>
    <th>
        Nombre
    </th>
    <th>
        Apellido Paterno
    </th>
    <th>
        Apelido Materno
    </th>
    <th>
        Horas Asignadas
    </th>
    <th>
        Correo
    </th>
    <th>
        <a asp-controller="Profesor" asp-action="Crear_profesor" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Profesor</a>
    </th>
</tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(ModelItem=>item.NominaProfesor)
        </td>
        <td>
            @Html.DisplayFor(ModelItem=>item.NombreProfesor)
        </td>
        <td>
            @Html.DisplayFor(ModelItem=>item.ApellidoPaternoProfesor)
        </td>
                <td>
            @Html.DisplayFor(ModelItem=>item.ApelidoMaternoProfesor)
        </td>
        <td>
            @Html.DisplayFor(ModelItem=>item.HorasAsignadasProfesor)
        </td>
        <td>
            @Html.DisplayFor(ModelItem=>item.CorreoProfesor)
        </td>
        <td>
                <a asp-controller="Profesor" asp-action="Editar_profesor" asp-route-id="@item.NominaProfesor"><i class="fas fa-marker"> </i> </a> 
                <a asp-controller="Profesor" asp-action="Eliminar_profesor" asp-route-id=@item.NominaProfesor class="text-danger ml-1" onclick="return confirm('¿Estas seguro de eliminar a este profesor?')"><i class="far fa-trash-alt"></i> </a>  
                <a style="color: white;"> . </a>
                <a asp-controller="Profesor" asp-action="Detalles_profesor" asp-route-id="@item.NominaProfesor"> <i class="fas fa-info"></i> </a> 
        </td>
    </tr>
    
}

</table>